{% from 'bootstrap/form.html' import render_field %}
{% extends 'base.html' %}

{% block content %}

<!-- TODO Add blablabla about the available data and how to make a request -->

<div class="py-5 text-center">
    <h2>Find analogies through time periods</h2>
    <p class="lead px-5">
      Meaning of words evolves constantly in one language. Our tool can help you visualize the semantic shift of the word of your choice. We currently support English and German, with a set of more than 10,000 words in each language. More languages are coming soon!</p>
</div>

<div class="container">
    <main>
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" method="POST" novalidate> 
            {{ form.csrf_token }}
            <div class="row g-3">
              <div class="col-12">
                  {{ render_field(form.language) }}
              </div> 
              <div class="col-12">
                {{ render_field(form.input) }}
              </div> 
             <div class="col-12">
                {{ render_field(form.submit) }}
             </div> 
            </div>
          </form>
        </div>
      </div>
    </main>
</div>

{% endblock %}