{% from 'bootstrap/table.html' import render_table %}
{% extends 'base.html' %}

{% block content %}
    <div class="py-5 text-center">

        {{ div|safe }}
    
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"
        crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"
        crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"
        crossorigin="anonymous"></script>

        {{ script|safe }}

    </div>

    <div class="my-4 shadow-sm">
        {# { render_table(data) } #}
    </div>

{% endblock %}