{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_icon %}


<header>
    <ul class="list-inline shadow-sm mb-5 rounded">
        <li class="list-inline-item">  <!--navbar-light bg-light-->
            <nav class="navbar navbar-expand"> 
                <div class="navbar-nav mr-auto">                    
                    {{ render_nav_item('index', 'Home') }}
                    {{ render_nav_item('tool', 'Analogies') }}  
                    {{ render_nav_item('data', 'Data') }}
                    {{ render_nav_item('methodo', 'Methodology') }}
                    {{ render_nav_item('contact', 'Contact us') }}  
                </div>
            </nav>
        </li>
    </ul>
</header>
