<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open SemShift">
    <meta name="author" content="Mathilde AGUIAR, IDMC">
    <title>Open SemShift</title> 

    {{ bootstrap.load_css() }}    

</head>

<body id="page-top" class="index">

    <main> 
        {% include 'header.html' %}
    </main>

    {% block content %}{% endblock %}

    <main> 
        {% include 'footer.html' %}
    </main>

    {{ bootstrap.load_js() }}

</body>

</html>