{% from 'bootstrap/form.html' import render_field %}
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <main>
    <div class="py-3">
      <h2>Authors</h2>
    </div>
      <div class="row g-5">
        <ul class="list-group px-3 col-md-2 col-lg-3">
          <a href="mailto:van-duy.ngo9@etu.univ-lorraine.fr" class="list-group-item">Van Duy Ngo</a>
          <a href="mailto:scott-propst.tankard7@etu.univ-lorraine.fr" class="list-group-item">Scott Tankard</a>
          <a href="mailto:ho-zoen.so4@etu.univ-lorraine.fr" class="list-group-item">Averie So</a>
          <a href="mailto:mathilde.aguiar1@etu.univ-lorraine.fr" class="list-group-item">Mathilde Aguiar</a>
        </ul>
      </div>
  </main>
</div>



<div class="container">
    <main>
      <div class="py-5"> 
        <h2>Contact us</h2>
      </div>
  
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" method="POST" novalidate> 
            {{ form.csrf_token }}
            <div class="row g-3">
              <div class="col-12">
                  {{ render_field(form.name) }}
              </div> 
              <div class="col-12">
                {{ render_field(form.email) }}
             </div> 

             <div class="col-12">
                {{ render_field(form.mssg) }}
             </div> 

             <div class="col-12">
                {{ render_field(form.submit) }}
             </div> 
            </div>
          </form>
        </div>
      </div>
    </main>
</div>
{% endblock %}