<footer class="footer mt-5 bg-light text-small w-100 p-3 shadow-lg rounded" id="footer">
    <ul class="list-inline">
        <li class="list-inline-item">
            <div class="container">
                <img src="{{url_for('static', filename='UDL.png')}}" id="footer_loria" style="width: 120px; max-height: 120px;">
            </div>
        </li>
        <li class="list-inline-item">
            <div class="container">
                <p class="mb-1">&copy; 2023</p>
            </div>
        </li>
        <li class="list-inline-item">
            <img src="{{url_for('static', filename='idmc.png')}}" id="footer_ul" style="width: 130px; max-height: 130px;">
        </li>
    </ul>
</footer>