{% extends 'base.html' %}

{% block content %}

<div class="container mb-5">
  <main>
    <div class="py-5 text-center">
      <h2>Open SemShift</h2>
      <p class="lead">Tracing and visualizing diachronic semantic change</p>
    </div>

    <div class="py-5 text-center">
      <h4> What is Open SemShift?</h4>
      <p class="lead">
        Meaning of words evolves constantly in one language. Our tool can help you visualize the semantic shift of the word of your choice. We currently support English and German, with a set of more than 100 words in each language. More languages are coming soon!</p>
    </div>

    {% include 'tool.html' %}

  </main>
</div>

{% endblock %}