{% extends 'base.html' %}

{% block content %}

    <main>
        <div class="container">
            <h2 class="row g-5">
                The methodology behind Open SemShift
            </h2>

            <h3 class="pt-5">
                Data 
                <h5 class="py-2">
                    To have more information about the data used to train our model please refer to <a href="{{ url_for('data')}}">this page</a>. 
                </h5>
            </h3>

            
            <h3 class="pt-5">
                Our model
                <h4 class="py-2">
                    TODO
                    <h5>
                        TODO
                    </h5>
                </h4>
            </h3>

            <h3 class="pt-5">
                Model's evaluation
                <h4 class="py-2">
                    TODO
                    <h5>
                        TODO
                    </h5>
                </h4>
            </h3>
        </div>
    </main>

{% endblock %}